<div>Something from the template maybe?</div>
<div class='row col-md-12'>
  <div class='row col-md-12'>
    <input class='col-md-12' type='text' ng-model='admin.name'></input>
  </div>
  <div class='row col-md-12'>
    <input class='col-md-12' type='text' ng-model='admin.email'></input>
  </div>
  <div>
    <button ng-click="showModel()">click me for fun</button>
  </div>
  <div>
    <button ng-click="navigate()">click me for navigation</button>
  </div>
  <div ng-if="show">
    {{admin}}
  </div>
</div>
